label.col-form-label {font-weight: bolder;}
div#signature {border: 2px dashed grey;}
div#signature-container {position:relative;}
.pointer {cursor: pointer;}
#signature-reset {position: absolute;right: 8px;top: 50px;}

#android-downloads {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}

#loading-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  /*background: url('../favicons/apple-touch-icon.png') center center no-repeat;*/
  position: fixed;
  left: 50%;
  /*margin-left: -100px;*/
  top: 50%;
  /*margin-top: -100px;*/
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}
@keyframes loading {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.loading div {
  position: absolute;
  animation: loading 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #df1317;
  transform-origin: 80px 82px;
}

.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading div { box-sizing: content-box; }